@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


.App{
    min-height: 100vh;
    display: flex;
   
    
}
.text-sign {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: medium;
}
.top-box{
    padding-top: 13%;
}
.input-fields::placeholder{
   font-size: 10px;
   
   justify-content: center;
}
.input-field-chat::placeholder{
   font-size: .7rem;
   
   justify-content: center;
}
.input-fields[type="text"]
{
    font-size:12px;
    letter-spacing: 1px;
}
.copyright-p{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.ad-text{
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 0.475rem;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
}
.guest-tag{
    font-size:0.665rem ;
    cursor: pointer;
}
.span-guest:hover{
font-weight: bold;
}
.span-guest{
color: blue;
}
.span-validtion-err{
    color: red;
    font-size: .6244em;
    display: none;
}
.input-fields:invalid[focus = 'true'] ~ span {
    display: block;
}
.input-fields:invalid[focus = 'true'] ~ focusBorderColor {
   color: blue;
}
.span--err{
    color: red;
    font-size: .6244em; 
}
.drawer-footer{
    font-size: .7rem;
    letter-spacing: 1px;
    color: #aca7a7 ;
    font-weight: 100;
    margin-left: -11rem;
}
.logout-btn{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    padding: 1rem;
    font-family: "Open Sans", sans-serif;
    font-size:small;
    font-weight: 500;
    letter-spacing: .02rem;
    cursor: pointer;
    color: white;
}
.logout-btn:hover{
    background-color: #1F1B24;
}
.chat-heading{
    font-size: large;
    font-weight: bolder;
    font-family: "Open Sans", sans-serif;
    padding-left: 1em;
    letter-spacing: .8px;
    color: rgb(0, 0, 0);

}
.sidebar-scroll{

}
::-webkit-scrollbar {
    display: none;
}
.btn-modal {
 border: none !important;
 outline: none !important;
 box-shadow: none !important;
 color: #77C3EC !important;   
 background: none !important;
}
.text-chat-log{

    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    padding-left: 3px;
    letter-spacing: .6px;
    color: rgb(0, 0, 0);

}
.singlechat-text-ad{
    color: gray;
    
}
@media screen and (min-width: 902px){
    .chat-area{
        display: block !important;
    }
}

@media screen and (max-width: 888px) {
.input-grp-search{
    width: 100% !important;
}
.box-user-chatlist{
    width: 100% !important;
}

.user-chat-main{
width: 100% !important;
}
}